.cover__subtitle {
   max-width: 360px;
   margin: 32px 0 0;
   font-family: 'Inter';
   color: #FFFFFF;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   z-index: 1;
}
@media screen and (max-width: 767.98px) {
   .cover__subtitle {
      margin: 0;
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
   }
}