.footer__copyright {
   margin: 0;
   padding: 0;
   font-family: 'Inter';
   line-height: 16px;
   font-size: 14px;
   color: #ffffff;
   font-weight: normal;
}

@media screen and (max-width: 767.98px){
   .footer__copyright {
      line-height: 14px;
      padding-top: 48px;
   }
}