.cover__background {
   width: 100%;
   min-height: 740px;
   margin: 0;
   position: relative;
   text-decoration: none;
   background-image: url("../../../images/cover-trains.jpg");
   display: flex;
   flex-direction: column;
   background-repeat: no-repeat;
   box-sizing: border-box;
   background-position: center;
   justify-content: center;
   align-items: center;
   background-size: cover;
   z-index: 0;
}
@media (max-width: 1279.98px) {
   .cover__background {
      min-height: 640px;
   }
}
@media (max-width: 1023.98px) {
   .cover__background {
      min-height: 480px;
   }
}
@media (max-width: 767.98px) {
   .cover__background {
      min-height: 300px;
   }
}
@media (max-width: 467px) {
   .cover__background {
      min-height: 200px;
      justify-content: start;
   }
}

.cover__background:before {
   width: 100%;
   height: 100%;
   content: '';
   background: #2a2c2f;
   opacity: 0.25;
   position: absolute;
   transition: opacity 0.3s;
}

.cover__background:hover:before {
   opacity: 0.85;
}